extra_systematics.csv
fitness.csv
lexicase_info.csv
population.csv
selection_info.csv
core
detail.spop
evo_comp_ecology
.vscode/
systematics.csv
detail-0.spop
detail-1000.spop
detail-100.spop
detail-200.spop
detail-300.spop
detail-400.spop
detail-500.spop
detail-600.spop
detail-700.spop
detail-800.spop
detail-900.spop
