/* Black tooltips would blend into the jumbotron */
.tooltip-arrow,
.tooltip > .tooltip-inner {background-color: #007bff;}

/* So the header doesn't spill over on mobile */
h1 {
    word-wrap:break-word;
}

#banner {
    color:#FFF;
    padding-bottom:10px;
    background: #000000;
}

#banner .btn-light {
    height:45px;width:50px;   
}

button span {
    vertical-align: middle;   
}

#settings_card {
    background:#FFF;
    color:#000;
}

#settings_card h3, #settings_card h5 {
    text-align:center;
}

#scene {
    height: 100%;    
}

a-assets img {
    display:none;
}

/* For scroll to top button */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;
    display:none;
}

.center {
    display:flex;
    justify-content:center;
    align-items:center;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}